@media screen and (max-width:500px){
    .products__content,
    .about__grid{
        flex-direction: column;
    }
.header{
    padding: 0;
}


    .header_border{
        padding: 20px;
    }

    .about_card{
        width: 90%;
    }
}