.conteiner {
    margin: 0 auto;
    width: 1000px;

}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 120px;
    background: blue;
}
.nav{
    height: 100px;
    background: #1c1c6c;
    margin-top: 2px;
}
.center{
    flex-grow: 5;
    column-gap: 2px;
    margin-top: 2px;

}
.main{
    background: aqua;
    height: 300px;
    flex-grow: 4;

}
.aside{
    background: blueviolet;
    height: 300px;
    flex-grow: 1;
}
.footer{
    height: 100px;
    background: #369595;
    margin-top: 2px;
}

.border{
    border: 1px solid black;
}
